.grid-stack-item-content {
    background: white;
    color: #2c3e50;
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 20px;
}

.grid-stack-item-content .fa {
    font-size: 64px;
    display: block;
    margin: 20px 0 10px;
}

header a, header a:hover { 
    color: #fff; 
}

.darklue { 
    background: #3E768C; 
    color: #fff; 
}
.darklue hr.star-light::after {
    background-color: #3E768C;
}

.full-height {
  height: 100vh;
}

#map { 
    width: 100%; 
    height: 93%; 
    border-bottom-style: solid;
    border-radius: 1px;
    border-color: black;
}

#map-info {
    width: 100%;
    height: 7%;
}

body {
    background-color: #3E768C;
}

.map-text-left {
    float: left;
}

.map-text-right {
    float: right;
}

.grid-stack-item-content {
  overflow: hidden !important;
  text-align: center;
}

#speedometer {
  height: 100%;
  width: 100%;
}

#speedometer > canvas {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
}

#speed-inner {
  display: inline-block;
  height: 80%;
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
}

#compass {
  font-size: 80px;
}

#graph-inner {
  width: 100%;
  max-height: 100%;
  height: 80%;
}
