{% extends "base.html" %}
{% block header %}
	<title>Index</title>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gridstack.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="container-fluid darklue" id="page-top">
	<p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</p>
	<div class="grid-stack" data-gs-width="12">
		<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="8" data-gs-height="11" data-gs-no-resize="yes">
			<div class="grid-stack-item-content map-container">
				<div id="map"></div>
				<div id="map-info">
					<div class="row">
						<div class="col-xs-4">
							<div id="timestamp-gps" class="map-text">GPS time</div>
						</div>
						<div class="col-xs-4">
							<div id="timestamp-delta" class="map-text">Delta</div>
						</div>
						<div class="col-xs-4">
							<div id="timestamp-current" class="map-text">Current time</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="2" data-gs-height="3" data-gs-no-resize="yes">
			<div class="grid-stack-item-content">
				<div id="speed-inner">
					<p>Speed (km/h)</p>
					<div id="speedometer"></div>
				</div>
			</div>
		</div>
		<div class="grid-stack-item" data-gs-x="10" data-gs-y="0" data-gs-width="2" data-gs-height="3" data-gs-no-resize="yes">
			<div class="grid-stack-item-content">
				<p>Compass</p>
				<p id="compass">
				</p>
			</div>
		</div>
		<div class="grid-stack-item" data-gs-x="8" data-gs-y="4" data-gs-width="4" data-gs-height="4" data-gs-no-resize="yes">
			<div class="grid-stack-item-content">
				<p>Speed vs. Time</p>
				<div id="graph-inner">
				<canvas class="dashboard-chart" id="speedTime"></canvas>
				</div>
			</div>
		</div>
		<div class="grid-stack-item" data-gs-x="8" data-gs-y="8" data-gs-width="4" data-gs-height="4" data-gs-no-resize="yes">
			<div class="grid-stack-item-content">
				<p>Altitude vs. Time</p>
				<canvas class="dashboard-chart" id="altitudeTime"></canvas>
			</div>
		</div>
<!-- 		<div class="grid-stack-item" data-gs-x="0" data-gs-y="10" data-gs-width="8" data-gs-height="4" data-gs-no-resize="yes">
			<div class="grid-stack-item-content">
				Tracking vs. Time
				<canvas id="trackingTime"></canvas>
			</div>
		</div> -->
		
	</div>
	<div class="scroll-top page-scroll visible-xs visble-sm">
		<a class="btn btn-primary" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
	<div id="log"></div>
	<p></p>
</div>
{% endblock %}

{% block content_js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/Chart/Chart.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/socketio.min.js') }}"></script>
	<script type="text/javascript" charset="utf-8">
		L.mapbox.accessToken = 'pk.eyJ1IjoiYWJlbGpvaG4iLCJhIjoiam9fcDRLayJ9.pKiEuAZfLcg4NI8GBwrJfg';

		window.setTimeout(function() {
			var map = L.mapbox.map('map', 'mapbox.streets');

		$(document).ready(function() {
			map.invalidateSize(true);
		});
		map.on('load', function(e) {
			window.dispatchEvent(new Event('resize'));
		});

		map.setView([37, -122], 14);

		// Add a new line to the map with no points.
		var polyline = L.polyline([]).addTo(map);

		// Keep a tally of how many points we've added to the map.
		var pointsAdded = 0;

		// Start drawing the polyline.
		 // add();

		function point_add(car_lat, car_long) {
			console.log('car_lat: ' + car_lat + ', car_long: ' + car_long);
			// `addLatLng` takes a new latLng coordinate and puts it at the end of the
			// line. You optionally pull points from your data or generate them. Here
			// we make a sine wave with some math.
			polyline.addLatLng(L.latLng(parseFloat(car_lat), parseFloat(car_long)));
			console.log('added line point');
			// Pan the map along with where the line is being added.
			map.setView([car_lat, car_long], 14);
			console.log('shifted map view');
			// Continue to draw and pan the map by calling `add()`
			// until `pointsAdded` reaches 360.
			// if (++pointsAdded < 10000) window.setTimeout(add, 100);
		}
	
		function compass_add(degree) {
			var box = document.getElementById("compass");

			if (degree >= 22.5 && degree < 67.5) {
				//NE
				box.innerHTML = "NE";
			} else if (degree >= 67.5 && degree < 112.5) {
				//E
				box.innerHTML = "E";
			} else if (degree >= 112.5 && degree < 157.5) {
				//SE
				box.innerHTML = "SE";
			} else if (degree >= 157.5 && degree < 202.5) {
				//S
				box.innerHTML = "S";
			} else if (degree >= 202.5 && degree < 247.5) {
				//SW
				box.innerHTML = "SW";
			} else if (degree >= 247.5 && degree < 292.5) {
				//W
				box.innerHTML = "W";
			} else if (degree >= 292.5 && degree < 337.5) {
				//NW
				box.innerHTML = "NW";
			} else if ((degree >= 337.5 && degree < 360) || (degree > 0 && degree < 22.5)) {
				//N
				box.innerHTML = "N";
			}
		}

	$(document).ready(function(){
		{% if car_namespace %}
			var socket = io.connect('http://' + document.domain + ':' + location.port + '/{{ car_namespace }}');

			socket.on('my response', function(msg) {
				data = msg.data;
				console.log('init: ' + data);
				
				try {
					var json_data = JSON.parse(data);
					
					timestamp = json_data['timestamp'];
					vin = json_data['vin'];
					data_block = json_data['data'];

					for (var i = 0; i < data_block.length; i++) {
						channel_block = data_block[i];
						if (channel_block['channel'] == 'location') {
							point_add(channel_block['value']['lat'], channel_block['value']['lon']);
							altitudeTimeChart.addData([channel_block['value']['alt']], timestamp);
						} else if (channel_block['channel'] == 'track') {
							// trackingTimeChart.addData([channel_block['value']], timestamp);
							compass_add(channel_block['value']);

						} else if (channel_block['channel'] == 'speed') {
							speed_add(channel_block['value']);
							speedTimeChart.addData([channel_block['value']], timestamp);
						}
					}
				}
				catch(err) {
					console.log(err);
				}

				$('#log').append('<p>' + data + '</p>');
			});

			// init rvi connection
			socket.emit('car request', {data: '{{ car_namespace }}' });
		{% endif %}
		// $('form#emit').submit(function(event) {
		// 	socket.emit('car request', {data: $('#emit_data').val()});
		// 	return false;
		// });
		// $('form#broadcast').submit(function(event) {
		// 	socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
		// 	return false;
		// });
	});
	
		}, 500);
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/current_time.js') }}"></script>
	<script>
		startTime("timestamp-current");
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
	<script src="{{ url_for('static', filename='js/gridstack.min.js') }}"></script>
	<script type="text/javascript">
	$(function () {
		$('.grid-stack').gridstack({
			width: 12,
			always_show_resize_hyesle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
			resizable: {
				handles: 'e, se, s, sw, w'
			}
		});
	});

	var speedTimedata = {
		labels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
		datasets: [
			{
				label: "Speed (km/h)",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
			}
		]
	};

	var altitudeTimedata = {
		labels: [0, 1, 2, 3],
		datasets: [
			{
				label: "Altitude (m)",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: [0, 1, 0, 1]
			}
		]
	};

	// var trackingTimedata = {
	// 	labels: [0, 1, 2, 3],
	// 	datasets: [
	// 		{
	// 			label: "Tracking (Degrees)",
	// 			fillColor: "rgba(151,187,205,0.2)",
	// 			strokeColor: "rgba(220,220,220,1)",
	// 			pointColor: "rgba(220,220,220,1)",
	// 			pointStrokeColor: "#fff",
	// 			pointHighlightFill: "#fff",
	// 			pointHighlightStroke: "rgba(220,220,220,1)",
	// 			data: [0, 1, 0, 1]
	// 		}
	// 	]
	// };


Chart.defaults.global.responsive = true;
  var speedTimectx = document.getElementById("speedTime").getContext("2d");
  var speedTimeChart = new Chart(speedTimectx).Line(speedTimedata,{animation: false});

  var altitudeTimectx = document.getElementById("altitudeTime").getContext("2d");
  var altitudeTimeChart = new Chart(altitudeTimectx).Line(altitudeTimedata, {animation: false});

  // var trackingTimectx = document.getElementById("trackingTime").getContext("2d");
  // var trackingTimeChart = new Chart(trackingTimectx).Line(trackingTimedata, {animation: false});

  // if (speedTimedata.labels.length > 20 || altitudeTimedata.length > 20 || trackingTimedata.length > 20) {
  	if (speedTimedata.labels.length > 20 || altitudeTimedata.length > 20) {
  	speedTimeChart.removeData();
  	altitudeTimeChart.removeData();
  	// trackingTimeChart.removeData();
  }

	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/xcanvas.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/tbe.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/digitaldisplay.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/speedometer.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/default.js') }}"></script>
	<script type="text/javascript">
	var speedometer;

	$(document).ready(function() {

		speedometer = new Speedometer('speedometer', {theme: 'default'});
		speedometer.draw();
})
	function speed_add(speed) {
		console.log(Math.round(speed));
		speedometer.animatedUpdate(Math.round(speed), 1000);
	}
	</script>
{% endblock %}
