{% extends "base.html" %}
{% block header %}
	<title>History</title>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/history.css') }}">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.timepicker.css') }}">
	<!-- /Datepicker -->
{% endblock %}

{% block content %}
	<div class="container-fluid darklue" id="page-top">
		<p>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="flashes">
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</p>
		<div class="row">
			<div class="col-xs-9">
				<div id="map"></div>
			</div>
			<div class="col-xs-3">
				<form method="POST">
					Car name:<br>
					<select name="car">
						{% if cars_list %}
						<option value="">Please select a car</option>
						{% for car in cars_list %}
						<option value="{{ car.car_vin }}">{{ car.car_name }}</option>
						{% endfor %}
						{% else %}
						<option value="">You have no cars!</option>
						{% endif %}
					</select>
					<br>
					<!-- Start Date:<br>
					<input type="text" id="start_date" name="start_date">
					<br>
					End Date:<br>
					<input type="text" id="end_date" name="end_date">
					<br><br>
					 -->
					<p id="datepair">
						<input type="text" class="date start" name="start_date">
						<input type="text" class="time start" name="start_time"> to
						<input type="text" class="date end" name="end_time">
						<input type="text" class="time end" name="end_date">
					</p>
					<br>
					<input type="submit" value="Submit">
				</form>

				<p id="car_name">
					{% if car %}
					{% endif %}
				</p>
				<p id="dump">
					{% if data %}
						{{data}}
					{% endif %}
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_js %}
	<!-- Datepicker -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/datepair.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.datepair.js') }}"></script>
	<script>
		// initialize input widgets first
		$('#datepair .time').timepicker({
			'showDuration': true,
			'timeFormat': 'g:iA'
		});

		$('#datepair .date').datepicker({
			'format': 'yyyy-mm-dd',
			'autoclose': true
		});

		// initialize datepair
		$('#datepair').datepair();
	</script>
	<!-- /Datepicker -->
	<!-- Map -->
	<script type="text/javascript" charset="utf-8">
		L.mapbox.accessToken = 'pk.eyJ1IjoiYWJlbGpvaG4iLCJhIjoiam9fcDRLayJ9.pKiEuAZfLcg4NI8GBwrJfg';

		var map = L.mapbox.map('map', 'mapbox.streets');

		map.on('load', function(e) {
			window.dispatchEvent(new Event('resize'));
		});

		map.setView([37, -122], 14);

		{% if data %}
		var marker = L.marker([37, -122], {
			icon: L.mapbox.marker.icon({
				'marker-color': '#f86767'
			})
		});

		marker.addTo(map);

		var data = '{{data|tojson}}';
		data = JSON.parse(data);
		console.log(data);
		data = data['payload'];
		console.log(data);
		console.log(data.length);
		console.log(JSON.parse(data[0]['data'].replace(/'/g, '"').replace(/True/g, '"True"').replace(/False/g, '"False"')));	
		var i = 0;
		window.setInterval(function() {
			if (i < data.length) {
				console.log(data[i]['data']);
				temp = JSON.parse(data[i]['data'].replace(/'/g, '"').replace(/True/g, '"True"').replace(/False/g, '"False"'))[0];	
				console.log(temp);
				marker.setLatLng(L.latLng(parseFloat(temp['value']['lat']), parseFloat(temp['value']['lon'])));
				map.setView([parseFloat(temp['value']['lat']), parseFloat(temp['value']['lon'])]);
			}
			
			i += 1;
		}, 1000);

		{% endif %}
	</script>
	<!-- /Map -->
{% endblock %}
