{% extends "base.html" %}
{% block header %}
	<title>Index</title>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gridstack.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid darklue">
	<p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</p>
	<div class="grid-stack" data-gs-width="12" data-gs-animate="yes">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="8" data-gs-height="9" data-gs-no-resize="yes">
            <div class="grid-stack-item-content">
				<div id='map'></div>
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="8" data-gs-y="0" data-gs-width="2" data-gs-height="3" data-gs-no-resize="yes">
            <div class="grid-stack-item-content">
                Speedometer
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="10" data-gs-y="0" data-gs-width="2" data-gs-height="3" data-gs-no-resize="yes">
            <div class="grid-stack-item-content">
                Altitude Text
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="8" data-gs-y="3" data-gs-width="4" data-gs-height="3" data-gs-min-width="3" data-gs-no-resize="yes">
            <div class="grid-stack-item-content">
                Speed Chart
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="8" data-gs-y="6" data-gs-width="4" data-gs-height="3" data-gs-no-resize="yes">
            <div class="grid-stack-item-content">
                Altitude Chart
            </div>
        </div>
    </div>
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <div id="log"></div>
</div>
{% endblock %}

{% block content_js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/socketio.min.js') }}"></script>
	<script type="text/javascript" charset="utf-8">
		L.mapbox.accessToken = 'pk.eyJ1IjoiYWJlbGpvaG4iLCJhIjoiam9fcDRLayJ9.pKiEuAZfLcg4NI8GBwrJfg';
		var map = L.mapbox.map('map', 'mapbox.streets')
			.setView([37, -122], 14);

		// Add a new line to the map with no points.
		var polyline = L.polyline([]).addTo(map);

		// Keep a tally of how many points we've added to the map.
		var pointsAdded = 0;

		// Start drawing the polyline.
		 // add();

		function point_add(car_lat, car_long) {
			console.log('car_lat: ' + car_lat + ', car_long: ' + car_long);
			// `addLatLng` takes a new latLng coordinate and puts it at the end of the
			// line. You optionally pull points from your data or generate them. Here
			// we make a sine wave with some math.
			polyline.addLatLng(L.latLng(parseFloat(car_lat), parseFloat(car_long)));
			console.log('added line point');
			// Pan the map along with where the line is being added.
			map.setView([car_lat, car_long], 14);
			console.log('shifted map view');
			// Continue to draw and pan the map by calling `add()`
			// until `pointsAdded` reaches 360.
			// if (++pointsAdded < 10000) window.setTimeout(add, 100);
		}
	$(document).ready(function(){
		{% if car_namespace %}
			var socket = io.connect('http://' + document.domain + ':' + location.port + '/{{ car_namespace }}');

			socket.on('my response', function(msg) {
				data = msg.data;
				console.log('init: ' + data);
				
				try {
					var json_data = JSON.parse(data);
					
					console.log('data is json: ' + json_data);
					// console.log(json_data['data'][0]['value']['lat']);	
					point_add(json_data['data'][0]['value']['lat'], json_data['data'][0]['value']['lon']);	
				}
				catch(err) {
					console.log('non-json data');
				}

				$('#log').append('<p>' + data + '</p>');
			});

			// init rvi connection
			socket.emit('car request', {data: '{{ car_namespace }}' });
		{% endif %}
		// $('form#emit').submit(function(event) {
		// 	socket.emit('car request', {data: $('#emit_data').val()});
		// 	return false;
		// });
		// $('form#broadcast').submit(function(event) {
		// 	socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
		// 	return false;
		// });
	});
	</script>
{% endblock %}
