<!DOCTYPE HTML>
<html lang="en">
<head>
	
	<title>RVI Login</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/login.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/login_style.css">

</head>
<body>
	<div class="container text-center">

		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
				<br>{{ message }}
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		<a href="/authhandler/loginGoogle" class="btn btn-info btn-block">Login via Google</a>
	</div>
</body>
</html>